 
      {{#each products}}
      <a href="/product/{{this._id}}">
      <div class="house list">
        <div class="headline">
          {{this.headline}}
         
        </div>
      </div>
      </a>
        
      {{/each}}

      yolo
    


  