 <ul>
      {{#each houses}}
        <li>
        <b>{{this.headline}} </b>
        <i>{{this.description}} </i>
        <small>{{this.location.city}}</small>
        <strong>{{this.location.street}}</strong>
        </li>
      {{/each}}
    </ul>


  