<link rel="stylesheet" href="/productpage.css">
<div class="headLine page">
  <h1>{{product.headline}}</h1>
  homepage
</div>

<div class="description page">
  {{product.description}}
</div>


 
  <button id='deleteCrib' type="submit" data-id="{{product._id}}">Delete</button>


<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/javascripts/product.js" type="text/javascript"></script>