<link rel="stylesheet" href="/productpage.css">
<div class="headLine page">
  <h1>ProductPage</h1>
  <h1>{{product.title}}</h1>
  
</div>

<div class="description page">
  {{product.description}}
</div>


 
  <button id='deleteProduct' type="submit" data-id="{{product.productPath}}">Delete</button>


<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/javascripts/product.js" type="text/javascript"></script>