 
      {{#each products}}
      <a href="/products/{{this.productPath}}">
      <div class="house list">
        <div class="headline">
          {{this.title}}
          {{this.path}}
         
        </div>
      </div>
      </a>
        
      {{/each}}

      yolo
    


  